@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round|Capriola);
@font-face {
    font-family: 'League Spartan';
    src: url("../fonts/league-spartan-regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #007FBC ;
    font-family: 'Varela Round', sans-serif;
    color: #FFFFFF;
}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px 15px 15px 4px;
    position: absolute;
    z-index: 1;

    opacity: 0.7;
}

.barra{
    background-color: #007FBC ;
    height: 100%;
    width: 300px;
    position: absolute;
    transition: all .2s linear;

    left: -258px;

    box-shadow: 1px 5px 7px 3px rgba(0, 87, 128, 0.7);
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link{
    background-color: #007FBC ;
    padding: 20px 20px 20px 70px;
    /*font-family: 'Varela Round', sans-serif; no body*/
    font-size: 12pt;
    transition: all .2s linear;
    color: #FFFFFF;
   /* border-bottom: 2px solid rgba(0, 87, 128, 0.9); */
    margin-bottom: 5px;

    opacity: 0;
    margin-top: 75px;

    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);
}

.link:hover {
    background-color: #008bcc ;
}

#check:checked ~ .barra{
    transform: translateX(258px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.2s;
}

#check:checked ~ #icone{
    margin-left: 255px;
}

.container {
    width: 95%;
    height: 100%;
   margin: auto auto auto 45px;
}

#check:checked ~ .container{
    margin: auto auto auto 303px;
    width: 80%;
}

.container header{
    border: 1px solid white;
    width: 100%;
    height: 150px;
}

.container header .logo{
    width: 300px;
    height: 150px;
    float: left;
}

.container header .logo h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 22pt;
    width: 155px;
    height: 100px;
    margin-top: 18px;
    float: right;
}

.container .artigos{

    border: 1px solid white;
    width: 100%;
    height: 600px;
    float: left;

}

.container .artigos #artigo_perfil, #artigo_contato, #artigo_formacao{
    display: none;
}

#check:checked ~ .container .artigos{
    width: 100%;
}

.nav_inicio:active ~ .container .artigos .artigo {
    transition: all .2s linear;
}

.footer {
    position: fixed;
    border: 2px solid green;
    width: 95%;
    height: 15px;
    margin-left: 45px;
    margin-top: 605px;
}
#check:checked ~ .footer {
    margin-left: 303px;
    margin-top: 605px;
    width: 80%;
}