@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round|Capriola);
@font-face {
    font-family: 'League Spartan';
    src: url("../fonts/league-spartan-regular.ttf");
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0099D5 ;
    font-family: 'Varela Round', sans-serif;
    color: #FFFFFF;
}

#check{
    display: none;
}

#icone{
    cursor: pointer;
    padding: 15px 15px 15px 4px;
    position: absolute;
    z-index: 1;

    opacity: 0.7;
}

.barra{
    background-color: #0099D5 ;
    height: 800px;
    width: 300px;
    position: absolute;
    transition: all .2s linear;

    left: -258px;

    box-shadow: 1px 5px 7px 3px rgba(0, 87, 128, 0.7);
}

nav{
    width: 100%;
    position: absolute;
    top: 60px;
}

nav a {
    text-decoration: none;
}

.link{
    background-color: #0099D5 ;
    padding: 20px 20px 20px 70px;
    /*font-family: 'Varela Round', sans-serif; no body*/
    font-size: 12pt;
    transition: all .2s linear;
    color: #FFFFFF;
   /* border-bottom: 2px solid rgba(0, 87, 128, 0.9); */
    margin-bottom: 5px;

    opacity: 0;
    margin-top: 75px;

    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);
}

.link:hover {
    background-color: #008bcc ;
}

#check:checked ~ .barra{
    transform: translateX(258px);
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0px;
    transition-delay: 0.2s;
}

#check:checked ~ #icone{
    margin-left: 255px;
}

.container {
    width: 93%;
    height: 800px;
    margin-top: 5px;
    margin-left: 47px;
    margin-bottom: 5px;


    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);
}

#check:checked ~ .container{

    width: 76.66%;
    margin-top: 5px;
    margin-left: 305px;
    margin-bottom: 5px;

}

.container header{
    width: 99.3%;
    height: 150px;

    margin-left: 5px;

    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);
}

.container header .logo{
    width: 300px;
    height: 150px;
    float: left;
}

.container header .logo h1{
    font-family: 'League Spartan', sans-serif;
    font-size: 22pt;
    width: 155px;
    height: 100px;
    margin-top: 18px;
    float: right;
}

.container header .social{
    float: right;
    margin: 30px;
    padding: 10px;
}

.social a img{
    margin-left: 5px;

    border-radius:  75px;

    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);

    -webkit-transition: 1.2s all ease;
    -moz-transition: 1.2s all ease;
    -o-transition: 1.2s all ease;
}

.social a img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);

    -webkit-transition: 0.7s all ease;
    -moz-transition: 0.7s all ease;
    -o-transition: 0.7s all ease;

    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.3);
}

.container .artigos{
    width: 99.3%;
    height: 639px;
    float: left;

    margin-top: 5px;
    margin-left: 5px;

    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);

}

.container .artigos #artigo_inicio, #artigo_contato, #artigo_formacao{
    display: none;
}

#check:checked ~ .container .artigos{
    width: 99.2%;

    margin-top: 5px;
    margin-left: 5px;
}

.artigos .artigo{
    margin-left: 10px;
    margin-top: 10px;
}

.artigo h1, h2, h3, p {
     margin-top: 15px;
 }

.artigo  h2, h3, p {
    margin-top: 10px;
    margin-left: 25px;
}

.paragrafo_tamanho {
    text-align: justify;
    width: 650px;
}

.experiencias{
    text-align: justify;
    width: 30%;
    height: 250px;
    float: left;
    margin-left: 2%;
}

.curso{
    text-align: justify;
    width: 45%;
    height: 250px;
    float: left;
    margin-left: 2%;
}

.nav_inicio:active ~ .container .artigos .artigo {
    transition: all .2s linear;
}

.footer {
    position: absolute;
    width: 95.7%;
    height: 45px;
    margin-left: 5px;
    margin-top: 1.4px;
    margin-bottom: 15px;

    box-shadow: 0px 2px 5px 2px rgba(0, 87, 128, 0.7);
}

.footer footer {
    text-align: center;
    align-items: center;
}

.footer footer p a{
    color: white;
    text-decoration: none;

    margin-left: 7px;
}

#download {
    float: right;
    margin-right: 15px;
}

