@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round|Capriola);

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Varela Round', sans-serif;
}

#logo {
    font-family: 'Capriola', sans-serif;
}

.container {
    background-color: #FFF;
    margin: auto;

    width: 95%;
    height: 100%;
}

.navegacao {
    display: block;
    border: 1px solid #E5E5E5;
    float: left;

    width: 230px;

    margin-top: 10%;
}

.navegacao ul {
    display: block;
    list-style-type: none;
}

.navegacao ul li {

    border: 1px solid #E5E5E5;

    background-color: rgba(255, 255, 255,.3);

    height: 25px;

    padding: 10px 5px 5px 5px;
    margin: 0px 0px 0px 0px;

    text-align: left;

}

.navegacao ul li a {
    text-decoration: none;

    padding: 15px;
    margin: 0px;
}

.artigo {
    height: 650px;
    border: 1px solid #E5E5E5;
}

header {
    background-color: #007FBC;
    color: aliceblue;

    height: 150px;
}

footer {
    background-color: #007FBC;

    height: 75px;

    margin-bottom: 0%;
}


@media screen and (min-width: 400px) {

    .container {


    }

}


@media screen and (min-width: 900px) {

    .container {

    }

}


@media screen and (min-width: 1300px) {

    .container {

    }

}